.timeTable{
    display: flex;
    flex-direction: row;
    width: 850px;
}

.timeBox{
    box-sizing: border-box;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;

}

.blockBoxTitle{
    position: absolute;
    box-sizing: border-box;
    right: 5px;
    border: 1px solid black;
    width: 600px;
}
.blockPageNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.dayOfWeek{
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
}
