.dashCont {
  height: 80vh;

  background-repeat: no-repeat;
  background-size: cover;
  height: 86vh;

}

.dashTop {

  padding: 25px;
  height: 220px;
  text-align: center;
}

.dashTextCont {
  text-align: center;

  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.hexContainer {

  margin-left: auto;
  margin-right: auto;
  position: relative; /* This makes it a reference for absolutely positioned child elements */
  /* Optional: to ensure the container is also centered vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hexCenter {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #E7C508;
  height: 220px;
  width: 300px;
  z-index: 2;
}
.hexborder{
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: black;
  height: 225px;
  width: 305px;
  position: absolute;
  z-index: 1;
}

.hexText {
  width: 150px;

  z-index: 8;
  position: absolute;
  top: 5px;
}

.hexLeft {
  width: 0;
  height: 0;
  border-top: 95px solid transparent;
  border-right: 52px solid rgb(231, 197, 8);
  border-bottom: 95px solid transparent;
  z-index: 4;
  position: absolute;
  left: 10px;
}
.hexLeftBorder {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 57px solid black;
  border-bottom: 100px solid transparent;
  z-index: 1;
  position: absolute;
  left: 3px;
}

.hexright {
  width: 0;
  height: 0;
  border-top: 94px solid transparent;
  border-left: 54px solid rgb(231, 197, 8);
  border-bottom: 94px solid transparent;
  z-index: 4;
  position: absolute;
  right: 8px;
}
.hexrightBorder {
  width: 0;
  height: 0;
  border-top: 101px solid transparent;
  border-left: 59px solid black;
  border-bottom: 101px solid transparent;
  z-index: 2;
  position: absolute;
  right: 3px;
}

.dashSeperator {
  background-color: rgb(231, 197, 8);
  font-size: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
  color: black;
  position: relative;
  top: -25px;
  margin-left: auto;
  margin-right: auto;
  border: 5px ridge gold;
  font-weight: 800;
}

.dashText {
  text-align: center;
}

.small {
  font-size: 18px;
}

.big {
  font-size: 24px;
  font-weight: 700;
}


.dashBottom {
  background-color: black;
  color: rgb(160, 160, 160);
  height: 50%;
  text-align: center;
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 5px ridge gold;
  font-size: 18px;
}
.dashTaskCont {
  display: flex;
  flex-direction: column;
  max-height: 80%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dashTask {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-top: 2px solid rgb(160, 160, 160);
  border-bottom: 2px solid rgb(160, 160, 160);
  display: flex;
  flex-direction: row;
}

.checkOffDash {

  width: 25px; /* Adjust based on your needs */
  height: 25px; /* Adjust based on your needs */
  cursor: pointer;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-right: 10px;


}
.whiteHex{
    background-color: rgb(208, 207, 207);
    color: black;
}

@media only screen and (max-width: 750px){
  .dashCont{
    height: calc(100vh - 108px);
  }
  .hexCenter {
    height: 150px;
    width: 200px;
  }
  .hexborder {
    width: 205px;
    height: 155px;
  }
  .big{
    font-size: 18px;
  }
  .small{
    font-size: 14px;
  }
  .hexText{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    top: 0px;
  }
  /* .activeBlock{

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
  } */
}
