.dashCont {
  height: 80vh;
  background-image: url("/home/cparsons/busyBees/frontend/public/hexagonBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 86vh;

}

.dashTop {

  padding: 25px;
  height: 220px;
  text-align: center;
}

.dashTextCont {
  text-align: center;

  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.hexContainer {
  width: 290px; /* Fixed width */
  height: 200px; /* Fixed height */
  margin-left: auto;
  margin-right: auto;
  position: relative; /* This makes it a reference for absolutely positioned child elements */
  /* Optional: to ensure the container is also centered vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hexCenter {
  position: absolute;
  height: 200px;
  width: 170px;
  background-color: rgb(231, 197, 8);
  top: 0px;
  left: 59px;
  padding-top: 10px;
  box-sizing: border-box;
  border-top: 6px solid black;
  border-bottom: 6px solid black;
}
.hexText {
  width: 220px;

  z-index: 8;
  position: absolute;
}

.hexLeft {
  width: 0;
  height: 0;
  border-top: 95px solid transparent;
  border-right: 52px solid rgb(231, 197, 8);
  border-bottom: 95px solid transparent;
  z-index: 4;
  position: absolute;
  left: 10px;
}
.hexLeftBorder {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 57px solid black;
  border-bottom: 100px solid transparent;
  z-index: 1;
  position: absolute;
  left: 3px;
}

.hexright {
  width: 0;
  height: 0;
  border-top: 94px solid transparent;
  border-left: 54px solid rgb(231, 197, 8);
  border-bottom: 94px solid transparent;
  z-index: 4;
  position: absolute;
  right: 8px;
}
.hexrightBorder {
  width: 0;
  height: 0;
  border-top: 101px solid transparent;
  border-left: 59px solid black;
  border-bottom: 101px solid transparent;
  z-index: 2;
  position: absolute;
  right: 3px;
}

.dashSeperator {
  background-color: rgb(231, 197, 8);
  font-size: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
  color: black;
  position: relative;
  top: -25px;
  margin-left: auto;
  margin-right: auto;
  border: 5px ridge gold;
  font-weight: 800;
}

.dashText {
  text-align: center;
}

.small {
  font-size: 18px;
}

.big {
  font-size: 24px;
  font-weight: 700;
}


.dashBottom {
  background-color: black;
  color: rgb(160, 160, 160);
  height: 50%;
  text-align: center;
  width: 70%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 5px ridge gold;
  font-size: 18px;
}
.dashTaskCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dashTask {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-top: 2px solid rgb(160, 160, 160);
  border-bottom: 2px solid rgb(160, 160, 160);
}
