.beeCentered {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.signUpContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 450px;
}

.form-group{
  margin: 10px;
}

.formRow{
  display: flex;
  flex-direction: row;
  gap: 30px;

}
