.beeCentered {
  display: block;
  height: 100px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.signUpContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 450px;
}

.formRow {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.errorMsg {
  height: 25px;
  color: rgb(201, 14, 14)

}
